---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

table.dataTable {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  width: 400px;
  height: 250px;
  text-align: center;
  border-collapse: collapse;
}
table.dataTable td, table.dataTable th {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 25px;
  border: 0px solid #AAAAAA;
  padding: 0px 0px;
}
table.dataTable tbody td {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 25px;
}
table.dataTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.dataTable tfoot td {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 25px;
}
table.dataTable tfoot .links {
  text-align: right;
}
table.dataTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}