
<table class="dataTable" width="100%">
<tbody>
<tr>
<th colspan="3"> <font size="30"> local selection 0 </font> </th>
</tr>
<tr>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
</tr>
<tr>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
</tr>
<tr>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
</tr>
</tbody>
</table>


<table class="dataTable" width="100%">
<tbody>
<tr>
<th colspan="3">local selection 1</th>
</tr>
<tr>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
</tr>
<tr>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
</tr>
<tr>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="90%" height=width/></td>
</tr>
</tbody>
</table>

