<table class="dataTable" width="100%">
<tbody>
<tr>
<th colspan="3" style="font-family:courier; text-align:left; font-color:red;"> Local selection 0: LightLeptonPairDR[0]>0.4&amp;&amp;MET>50 </th>
</tr>
<tr>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
</tr>
<tr>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
</tr>
<tr>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>

<table class="dataTable" width="100%">
<tbody>
<tr>
<th colspan="3" style="font-family:courier;"> Local selection 1: MET>50 </th>
</tr>
<tr>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
</tr>
<tr>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
</tr>
<tr>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
<td><embed src="runPlotter_Test-page1.png" width="99%" height=width/></td>
</tr>
</tbody>
</table>

